{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb",
  "settings": {
    "import/resolver": {
       "webpack": {
         "config": "webpack/dev.config.js"
       }
    }
  },
  "globals": {
    "__DEV__": false,
    "API_DOMAIN": false,
    "GIT_HASH": false
  },
  "rules": {
    "linebreak-style": "off",
    "camelcase": "off",
    "max-len": ["error", 150],
    "class-methods-use-this": "off",
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-underscore-dangle": "off",
    "import/no-extraneous-dependencies": "off",
    "import/first": "off",
    "react/sort-comp": "off",
    "react/jsx-filename-extension": ["error", {
      "extensions": [".tsx", ".js", ".jsx"]
    }],
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/interactive-supports-focus": "off",
    "react/forbid-prop-types": "off",
    "react/prop-types": "off",
    "react/jsx-no-undef": ["error", { "allowGlobals": true }]
  }
}