.container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	.item {
		width: 30%;
		margin: 0;
		.input {
			width: 100%;
		}
	}
	.encrypt {
		display: flex;
	}
}